@import "_variables.scss";

.time{
    background-color: $black;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4% 5% 1%;
    box-sizing: border-box;
    p{
        
        font: normal normal medium "Montserrat";
        font-size: 12px;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 0px;
        &:first-of-type{
            font: normal normal bold 12px "Montserrat";
            width: 100%;
            text-align: center;
        }
        label{
            color: $pink;
        }

    }
}
@media (min-width:$Ipads) {
    .time{
        padding: 4% 20% 1%;
        p{
        
            font-size: 14px;
            &:first-of-type{
                font-size: 16px;
            }    
        }
    }
}
@media (min-width:$smallScrean) {
    .time{
        flex-wrap: nowrap;
        justify-content: center;
        padding: .5% 10% ;
        p{
            margin-right: 2%;
            margin-bottom: 0;
            font-size: 14px;
            &:first-of-type{
                width: auto;
                margin-right: 5%;
                font-size: 14px;
            }    
        }
    }
}



