$black: #000000;
$white: #FFFFFF;
$light-dark: #939393;
$red: #FF0102;
$blue: #0068FF;
$pink: #FF6B6B;
$very-light-gray: #F4F4F4;


$Ipads:721px;
$smallScrean:1200px;
$mediumScrean:1500px;
$largeScrean:2000px;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
